button {
    width: 30px;
    height: 30px;
}
form {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-left: 10px;
    width: 400px;
}
.plusbutton {
    margin: 5px;
}
.minusbutton {
    margin: 5px;
}
.deliverytime {
    display: flex;
}
.checkbox {
    display: flex;
}
.send-button {
    width: 100%;
    margin-bottom: 10px;
    margin-top: 10px;
}
.reset-button {
    margin-top: 10px;
    margin-left: 10px;
    width: 400px;
}
.dropdown {
    margin-top:5px;
}
.groceries {
    margin-left: 10px;
}
.label {
    width: 400px;
}
